* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navbar*/
.nav {
  background-color: #000000;
  padding: 10px 12% 15px 12%;
}
.nav-link {
  color: #ffffff;
}
img {
  width: 120px;
}
/*navbar end*/

/*<!--banner-->*/
.banner {
  background-image: url(images/banner.jpg);
  width: 100%;
  color: #ffffff;
  height: 540px;
  background-size: cover;
}
.box {
  padding-left: 14%;
}
.head {
  font-weight: 500;
}
.btn {
  background-color: orangered;
  color: #ffffff;
  width: 15 0px;
}

/*<!--banner end-->*/

/*<!--blocks-->*/
.container {
  height: 400px;
}
.bg-orange {
  background-color: orangered;
  height: 300px;
  color: #ffffff;
  padding: 60px 0px;
  text-align: center;
}
.bg-black {
  padding: 60px 0px;
  color: #ffffff;
  height: 300px;
  text-align: center;
}

.row h6 {
  font-weight: 600;
}
.ic {
  font-size: 50px;
  padding-bottom: 30px;
}
/*<!--blocks end-->*/

/* offer*/
.offer-left p {
  color: gray;
}
.offer-left h5 {
  margin-top: 20px;
  margin-bottom: 25px;
}
.offer-right img {
  width: 400px;
}
.ico {
  font-size: 20px;
  background-color: orangered;
  color: #ffffff;
  width: 140px;
  height: 48px;
  text-align: center;
}

/*offer end*/

/*course*/
.btn {
  border: 0;
}
.card {
  border: 0;
}
/*course end*/

/*form*/
.fo-main {
  height: 500px;
  color: #ffffff;
  background-size: cover;
  background-image: url(images/request.jpg);
}
.thumnil {
  width: 500px;
}
.col {
  margin: 12px 0;
}
.formcon {
  width: 500px;
}
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 0.1px solid #ffffff;

  background: none;
}
.form-select {
  border: 0;
  border-radius: 0;
  border-bottom: 0.1px solid #ffffff;
  background: none;
  color: #ffffff;
}
.f-option {
  background: none;
  color: #000000;
}
.formcon ::placeholder {
  color: #ffffff;
}
/*form end*/

/*contact*/
.list-group-item {
  background: none;
  color: #ffffff;
  border: 0;
}
.sub {
  border: 0;
  border-radius: 0 5px 5px 0;
  margin-left: -20px;
  margin-top: -4px;
  height: 41px;
}
#in {
  border: 0;
  border-radius: 5px 0 0 5px;
  width: 220px;
  height: 40px;
  margin-top: 30px;
}
hr {
  width: 20px;
  height: 3px;
  border-radius: 1px;
  background-color: orangered;
}
/* contact end*/
